@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;600;700&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
}

/* CURRENT WEATHER */

.current-weather {
  background-color: #1e213a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.current-weather img {
  width: 150px;
}

.current-weather__temp {
  font-weight: 500;
  font-size: 100px;
}

.current-weather__temp > span {
  font-weight: 400;
  font-size: 30px;
  color: #a09fb1;
}

.current-weather__main {
  color: #a09fb1;
  font-size: 36px;
  font-weight: 600;
}

.current-weather__date {
  display: flex;
  justify-content: center;
}

.current-weather__date > div {
  position: absolute;
}

.first-div {
  left: 30vw;
}

.second-div {
  right: 30vw;
}

.current-weather__date > div {
  position: absolute;
}

.current-weather__name {
  color: #88869d;
}

/* EXTENDED WEATHER */
.extended-weather {
  background-color: #100e1d;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 50px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.extended-weather-item {
  background-color: #1e213a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.extended-weather-item > img {
  width: 50%;
}

.extended-weather-item__temp {
  display: flex;
  gap: 25px;
}

.extended-weather-item__temp > div:last-of-type {
  color: #a09fb1;
}

.todays-highlights {
  background-color: #100e1d;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
}

.todays-highlights__item {
  background-color: #1e213a;
  display: block;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}

.todays-highlights__item > .title {
  color: #e7e7eb;
  font-weight: 500;
}
.todays-highlights__item > .data {
  font-size: 64px;
  font-weight: 700;
}

.todays-highlights__item > .wind-direction {
  display: flex;
  align-items: center;
  gap: 15px;
}
.wind-direction>img {
  width: 25px;
  height: 25px;
  filter:  brightness(0) invert(1);

}

.humidity-graphic {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.humidity-graphic__reference {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}

.humidity-graphic__bar-container {
  background-color: #E7E7EB;
  border-radius: 4px;
}

.humidity-graphic__bar-container>div {
  min-height: 8px;
  background-color: #FFEC65;
  border-radius: 4px;
}

.humidity-graphic__percentage-symbol {
  margin-left: auto;
}

.footer {
  background-color: #100E1D;
  padding: 24px;
  text-align: center;
}
